/* Importing a Google Font */

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,500&display=swap');

/* Changing the main font and background colour */

body {
	font-family: oscine, sans-serif;
font-weight: 400;
font-style: italic;
	background-color: #AB7ED9;
}


/* Changing the background color for the navigation bar */

.navbar {
	background-color: #BA9CD9;
	font-family: finalsix,sans-serif;
font-weight: 600;
font-style: normal;
}

/* Effect on social media buttons */

footer a:hover {
	opacity: .5;
	background-color: #FFFFFF;
}
.diff {
	font-family: bebas-neue-semirounded, sans-serif;
font-weight: 400;
font-style: normal;
}
.behind {
	text-shadow: 10px 10px 10px black;
}
.add {
	text-align:center;
}
.property{
	height: 700px;
}

.font{
	font-family: oscine, sans-serif;
font-weight: 400;
font-style: italic;
}
