/* Importing a Google Font */

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,500&display=swap');

/* Changing the main font and background colour */

body {
	font-family: finalsix;
	background-color: #A56FDC;
}


/* Changing the background color for the navigation bar */

.navbar {
	background-color: #7D3B99;
	font-family: novecento sans;
	font-size: 20px;
}

/* Effect on social media buttons */

footer a:hover {
	opacity: .5;
	background-color: #FFFFFF;
}
.align-text-left {
}
.diff {
	font-family: bebas neue semirounded;
}
.text{
	display: flex;
        align-items: right;
	
        justify-content: center
      
}